<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spot The Mandela Effect!?</title>
    <link ref="stylesheet" href="style.css">
</head>
<body>
    <h1>Spot The Mandela Effect!</h1>
   
    <h1>Click on the image that ISNT a mandela effect</h1>

<h1 popover id="check">Yes! This is Correct</h1>

<button popovertarget="check">
      <img src="{{ image1 }}">
</button>

<h1 popover id="x mark">No, This is Incorrect</h1>

<button popovertarget="x mark"> 
    <img src="{{ image2 }}">
</button>



</body>
</html>